* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: #333;
}



/* ---navbar--- */

nav {
  font-size: 1.2rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  /* min-height: 68px; */
  padding: 5px 30px;
  background-color: transparent;
  color: #aaa;
  -webkit-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.nav-title {
  display: inline-block;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  position: relative;
  top: 7.835px;
}

.toggleMenu {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  padding: 5px 10px;
  position: relative;
  top: 1.835px;
  cursor: pointer;
}

nav > ul {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 15px 0 0 0;
  -webkit-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

nav > ul.show {
  max-height: 130px;
}

/* nav > ul > li {
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
} */

nav > ul > li > a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

nav a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media (min-width: 768px) {
  .toggleMenu {
    display:none;
  }

  nav {
    padding: 5px 50px;
  }

  nav > ul {
    display: inline-block;
    float:right;
    max-height: none;
    margin: 0;
  }

  nav > ul > li {
    display: inline-block;
    margin: 0px 10px;
  }

}

/* ---end navbar--- */

a.anchor {
    display: block;
    position: relative;
    top: -83px;
    visibility: hidden;
}

#section1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../img/night-balloon_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 50%;
}

#section1-text {
  display: none;
  position: absolute;
  line-height: 150%;
  text-align: center;
}

@media (min-width: 568px) {
  #section1-text {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 30px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0 30px 30px rgba(0,0,0,0.3);
    font-size: 1rem;
    color: #aaa;
  }
}

@media (min-width: 1024px) {
  #section1-text {
    font-size: 1.2rem;
  }
}

/* #about, #projects, #contacts {
  padding: 30px 0;
} */

.container {
  width: 100%;
  padding: 0;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1100px;
  }
}



/* ---about--- */

#about {borderr: 1px solid black;
  background-color: #9c9db1;
  text-align: center;
  padding: 30px 0 60px 0;
}

#about-me {
  margin: 50px 0 80px 0;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  #about-me {
    padding: 0 10%;
  }
}

#about h3 {borderr: 1px solid indigo;
  margin:0;
  margin-bottom: 10px;
}

#skill-list {borderr: 1px solid blue;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.skill {borderr: 1px solid red;
  width: 33.33%;
  padding-top: 10px;
}

.skill-icon {borderr: 1px solid green;
  font-size: 2.5rem;
  color:;
}

.skill-text {borderr: 1px solid purple;
  margin: 5px;
  padding: 0;
}

@media (min-width: 440px) {
  .skill {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .skill {
    width: 14.285%;
  }
}

/* ---end about--- */



/* --- projects--- */

#projects {borderr: 1px solid black;
  background-color: #d3d3d3;
  position: relative;
  z-index: 1;
  padding: 0;
  -webkit-box-shadow: 0 0 50px 30px #d3d3d3;
  box-shadow: 0 0 50px 30px #d3d3d3;
}

#slideshow {borderr: 1px solid blue;
  position: relative;
  overflow: hidden;
  padding: 0 5%;
  margin: auto;
}

.slide {borderr: 1px solid green;
  display: none;
  padding: 0 0;
}

/* fading animation*/
.slide > .project-img {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
/* end fading animation*/

.project-img {borderr: 1px solid purple;
  display: block;
  width: 100%;
  margin: auto;
}

.project-title {borderr: 1px solid red;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.project-btn {
  display: flex;
  justify-content: space-around;
}

.source-btn, .live-btn {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  background-color: #9c9db1;
  padding: 5px 10px;
  border-radius: 100px;
  cursor: pointer;
  margin: 5px 0;
}

.project-description {borderr: 1px solid seagreen;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.prev-next-btn {borderr: 1px solid sienna;
  cursor: pointer;
  position: absolute;
  top: 0px;
  padding: 9.3315px 16px;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #bbb;
  border-radius: 8px;
}

.prev-next-btn:active{
  background-color: #717171;
}

#prev-btn {
  left: 5%;
}

#next-btn {
  right: 5%;
}

@media (min-width: 576px) {
  .prev-next-btn {
    top: 111.335px;
    /* transform: none; */
    padding: 16px;
    border-radius: 8px;
  }

  .project-img {
    width: 80%;
  }

  .project-description {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .prev-next-btn {
    top: 135.47px;
    /* transform: none; */
  }
}

@media (min-width: 992px) {
  .prev-next-btn {
    top: 155.7px;
    /* transform: none; */
  }

  .project-img {
    width: 70%;
  }

  #prev-btn {
    left: 10%;
  }

  #next-btn {
    right: 10%;
  }
}

@media (min-width: 1140px) {
  .prev-next-btn {
    top: 164.47px;
    /* transform: none; */
  }

  .project-img {
    width: 65%;
  }

  #prev-btn {
    left: 15%;
  }

  #next-btn {
    right: 15%;
  }
}

#dot-nav {borderr: 1px solid black;
  text-align: center;
  padding-top: 10px;
}

.slide-dot {borderr: 1px solid fuchsia;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  }

  .slide-dot:active {
    background-color: #717171;
  }

/* ---end projects--- */



/*  ---contacts--- */

#contacts {borderr: 1px solid black;
  background-color: #9c9db1;
  /* padding: 60px 0 30px 0; */
  padding-top: 60px;
}

#my-contacts {borderr: 1px solid blue;

}

#contact-list {borderr: 1px solid red;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-item {borderr: 1px solid green;
  margin:25px;
}

/*.contact-item:nth-child(1) {text-align: left;}
.contact-item:nth-child(2) {text-align: center;}
.contact-item:nth-child(3) {text-align: right;}*/

.contact-item a {borderr: 1px solid purple;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  cursor: pointer;
}

.contact-item a:hover{
  text-decoration: underline;
}

.contact-item span {borderr: 1px solid sienna;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .contact-item {
    margin: 25px 75px;
  }
}

#copyright {
  margin-top: 30px;
}

#copyright > p {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* ---end contacts--- */
